
// Login screen cw logo
// Hue/Bright/Sat tuned for CW blue.
div.login-container img {
	filter: invert(1) hue-rotate(200deg) brightness(2.2) saturate(0.7);
}

//++INVERT
//++SOMETHING

// TPG logo - make that Inverted and nice
img.GL4OBY5BKDL {
	filter: invert(.85) hue-rotate(180deg);
}



// NAVBAR and actions
// .GL4OBY5BCRG is disabled buttons we don't want to invert those.
// .GL4OBY5BJSG is hovered buttons we don't want to invert those.
// Icons on top navbar.
div:not(.GL4OBY5BCRG) > div.GL4OBY5BLQG:not(.GL4OBY5BJSG, .GL4OBY5BJRG) div.GL4OBY5BMRG > div > svg,
// Up arrow on top navbar
div.GL4OBY5BJDL > div > svg:not(:hover),
// Stopwatch icons.
div.GL4OBY5BJCH svg,
// Pod Collapse Arrow
div.GL4OBY5BOGH div.GL4OBY5BMUD > div > svg,
// Some dropdowns (Site, contact, etc)
// .GL4OBY5BKTH is disabled buttons we don't want to invert those.
div:not(.GL4OBY5BDTH) div.GL4OBY5BNPI > div > svg,
// Icons below ticket owner, i think many are in a table.
div.GL4OBY5BCLI > svg,
// Resource Scheduler Action/Status Icons
div.GL4OBY5BJPD svg,
div.GL4OBY5BJPD img,
// Row action items for ticket bundler (possibly more)
// .GL4OBY5BEYG is hovered buttons we don't want to invert those.
// .GL4OBY5BFJI is a table row and .GL4OBY5BKJI is hover, we don't want invert
tr.GL4OBY5BFJI:not(.GL4OBY5BKJI) div.GL4OBY5BFWG:not(.GL4OBY5BEYG) div.GL4OBY5BGXG svg,
// Trash can on resources
tr.GL4OBY5BNQD div.GL4OBY5BFWG:not(.GL4OBY5BEYG) div.GL4OBY5BGXG svg,
// The show more down arrow in Resources
div.GL4OBY5BGJF div div svg,
// Paperclip on COnfig List
td.GL4OBY5BJEI svg,
// "Filter" icon on right
div.GL4OBY5BKCL svg,
// ">"s in breadcrumbs
table.GL4OBY5BHCL img,
// Very specific Map icon on address 1.
div.GL4OBY5BBFH > table.GL4OBY5BLSM > tbody > tr > td > div.cwsvg,
// Same map icons in shipping pods
div.GL4OBY5BNKI svg,
// Time tab, time entry collapsers.
// .GL4OBY5BLEG is highlighted rows, we don't want to invert on those
// .GL4OBY5BEEG is active rows, we don't want to invert on those
tr.GL4OBY5BGEG:not(.GL4OBY5BLEG, .GL4OBY5BEEG) div.GL4OBY5BGAG svg
// Orange banner at top that says "Open Project" or "Offboarding"
//div.GL4OBY5BB5C table div.GL4OBY5BMUD div svg
{
	filter: invert(1);
}

// Fixes some issues with dropdowns disappearing when disabled.
.GL4OBY5BDTH .GL4OBY5BKTH .cwsvg
{
	fill: unset;
}


// SERVICE BOARD and TICKET LIST
// The checkboxes on tickets, and the checkbox on header:
.GL4OBY5BODI, .GL4OBY5BMDI
{
	filter: invert(.85) grayscale(1) hue-rotate(180deg);
}
// Make responded-to tickets yellow yellow Instead
a.boldMultilineClickable, a.boldMultilineClickable:hover, a.boldMultilineClickable:visited
{
	color: yellow !important;
}
// somewhat hide underlines in ticketlinks
.multilineClickable, .multilineClickable:link
{
	//text-decoration: none !important;
	text-decoration-color: rgba(198,195,191,0.5) !important;
}
div.GL4OBY5BKF .cwsvg {
	fill: #fff;
}



// TIME ENTRY WINDOW
// Tool bar Icons
// .GL0RNONLFB is disabled we don't want to invert those.
div.GL0RNONNWG:not(.GL0RNONLFB) div.GL0RNONPCE:not(.GL0RNONNEE) div.GL0RNONAEE svg,
// Time icons above ticket notes to enter in current time.
table.GL0RNONFVI div.GL0RNONPCE:not(.GL0RNONNEE) div.GL0RNONAEE svg,
// Charge to collapsible, along with some of the dropdowns
div.GL0RNONAGF:not(.GL0RNONHFF) div.GL0RNONNBG svg,
// Section collapsers
div.GL0RNONAHB svg,
// Standard Note dropdown arrow
div.CwTriggerField-trigger svg,
// Charge to icons in the dropdown:
div.GL0RNONDLG:not(.GL0RNONHLG) div svg,
// The lock icon that appears when adding multiple entries
div.GL0RNONC-E table div svg
{
	filter: invert(1);
}



// Today page Gear
li.GL4OBY5BETI:not(.GL4OBY5BDUI) > span > div > svg //,
//div.GL4OBY5BEUI > div > svg
{
	filter: invert(1);
}

// Today page / CW Manage Logo
div.cwlogo {
	filter: invert(1) hue-rotate(200deg) brightness(2.2) saturate(0.7);
}

// Today page / Right (?) and Lock icon
table.bannerborderright img,
// Today page / Todays activities calendar icon
td.todaysActiviesHeader img
{
	filter: brightness(2.5) hue-rotate(20deg);
}

// Windows / X close button on upper right
/// At least tab config gear on today page
div.cw-gxt-wnd-cls > svg {
	filter: invert(1);
}




// legacy stuff still being worked.


